*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.title{
    text-align: center;
    text-transform: uppercase;
    background-color: #aeaebd;
    padding: .5rem 0;
}

.footer{
    background-color: #aeaebd;
    padding: 1rem 0;
}

.footer p{
    text-align: center;
    text-transform: uppercase;
}

.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 90px);
}

.legend{
    width: 14rem;
    padding: 2rem;
    background-color: aliceblue;
    grid-column: 2 / 4;
    grid-row: 2 / 5;
}

.legend__title{
    font-size: 1.6rem;
}

.legend__item{
    list-style: none;
    padding: .6rem;
}

.legend__item-1{
    background-color: blue;
}

.legend__item-2{
    background-color: green;
}

.legend__item-3{
    background-color: yellow;
}

.legend__item-4{
    background-color: orange;
}

.legend__item-5{
    background-color: red;
}

.map{
    grid-column: 3 / 8;
    grid-row: 2 / 9;
}

path {
    stroke: #fff;
    stroke-width: .5;
    stroke-dasharray: 1;
    fill: #afafaf;
    
}
  
#neighborhoodPopover { 
    position: absolute;     
    text-align: center;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: #fff; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;
    opacity: 0;     
}