*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    background-image: linear-gradient(to right bottom, rgba(242, 242, 242, 0.5), rgba(128, 255, 255, 0.5)), url(./img/earth.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title{
    text-align: center;
    text-transform: uppercase;
    background-color: #aeaebd;
    padding: .5rem 0;
}

.footer{
    background-color: #aeaebd;
    padding: 1rem 0;
}

.footer p{
    text-align: center;
    text-transform: uppercase;
}

.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 50px repeat(9, 90px);
}

.legend{
    width: 21rem;
    padding: 2rem 1rem 1rem 2rem;
    background-color: #95a9bb;
    border: 5px dashed blue;
    border-radius: 50%;
    opacity: .85;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.legend__title{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-align: center;
}

.legend__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.legend__item{
    padding: .4rem .2rem;
}

.legend__item-1{
    grid-column: 1 / 1;
    background: linear-gradient(to right, #fa0303 0%, #f05209 100%);
}

.legend__item-2{
    grid-column: 2 / 2;
    background: linear-gradient(to right, #f05209 0%, #dad60d 100%);
}

.legend__item-3{
    grid-column: 3 / 3;
    background: linear-gradient(to right, #dad60d 0%, #aabe63 100%);
}

.legend__item-4{
    grid-column: 4 / 4;
    background: linear-gradient(to right, #aabe63 0%, #139c1e 100%);
}

.timer{
    width: 21rem;
    padding: 1.5rem 1rem 1rem 1rem;
    background-color: #95a9bb;
    border: 5px dashed blue;
    grid-column: 2 / 4;
    grid-row: 5 / 6;
    text-align: center;

    display: inline;
}

.date-name{
    font-size: 1.5rem;
    color: #020250;
}

#date{
    font-size: 1.6rem;
}

.map{
    grid-column: 3 / 7;
    grid-row: 2 / 9;
}

path {
    stroke: #fff;
    stroke-width: .5;
    stroke-dasharray: 1;
    fill: #afafaf;
}
  
#neighborhoodPopover { 
    position: absolute;     
    text-align: center;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: #fff; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;
    opacity: 0;     
}